doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrapper
      #logo
        a(href='/')
          img(src='/images/logo.png')
    block content
